.DS_Store
.idea/*
/express_js/bower_components
/express_js/node_modules

/nodeschool/node_modules

/react_js/dist
/react_js/node_modules

node_modules
/typescript/**/*.js
/typescript/**/*.js.map
*.iml
npm-debug.log