<html>
	<head>
		<title> Error </title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<h1>Something went wrong</h1>
			
			<h4><%=error%></h4>
			
		</div>
		
		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>